@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SankofaDisplay";
  src: url("/Sankofa_Display/SankofaDisplay-Regular.ttf") format("truetype")
}

body {
  color: white;
  user-select: none;
}